* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Permite el scroll principal */
}

body {
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;  
  background-color: #42075e;
  justify-content: center;     
  /* z-index: 1000;  */
  
}

/*Inicio Navar */

.logo img, .user-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.logo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-family: 'Georgia', serif;
  color: white;

}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;    
  margin: 10px 20px;  
}

.nav-menu--lista{
  display: flex;
  /* flex-direction: row;  */
  list-style-type: none; 
  gap: 20px;    
}


.nav-menu a {
  /* text-decoration: none; */
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: font-size 0.3s;
}

.nav-menu--elemento {
  background-color:#8531a7;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  /* transition: font-size 0.3s; */
} 

.user-img--container{
  margin: 0px 10px;
}


/*--------------------------------- 
  fin barra de navegacion
------------------------------------*/

.scroll-section {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* position: relative; */
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

.section1,
.section2,
.section3,
.section4{  
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.section1{
  background-image: url('/img/tokyo.png');
}

.section2 {
  background-image: url('/img/Tokyo2.png');
}

.section3{
  background-image: url('/img/Kyoto.png');
}
.section4{
  background-image: url('/img/Hiroshima.png');
}  
  
.section__mangas {background-image: url("/img/mangas_mas_vendidos.jpg");}
.section__comics{background-image: url('/img/comics.jpg');}
.section__animes{ background-image: url('/img/descarga.jpg');}
.section__location {
  background-image: url("/img/jojo.png");    
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}
   
  
.content {
  height: auto;
  width: 30%;  
  padding: 20px;
  background-color: rgba(12, 12, 12,0.8); /* Fondo semitransparente para mejorar la legibilidad */
  box-sizing: border-box;
}

.maps{
  margin: 20px;
  
}
/* fin main */

/* inicio footer*/

footer {
  background-color: #42075e;
  color: white;  
  text-align: center;
}

.footer-container { 
  color: white;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  
} 



/* Enlaces del footer */
.social-icons--texto {
  color: #aaaaaa;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

/* Enlaces del footer */
footer a {
  color: #aaaaaa;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: #110312;
}

/* Redes sociales */
.social-icons{
  display: flex;
  margin: 10px;
  padding: 0px;
  gap: 15px;
  list-style-type: none;
  font-size: 24px;
}

/* Derechos de autor */
.copyright {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}

/* fin footer */
