body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Evita el scroll principal de la página */
}

.main-content {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

/*--------------------------------- 
  barra de navegacion
------------------------------------*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;  
  background-color: #42075e;
  justify-content: center;     
  z-index: 1000; 
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;    
  margin: 10px 20px;   
}

.logo{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-family: 'Georgia', serif; /* Estilo de letra similar */
  color: white;
}

.logo-img, .user-profile {  
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.nav-menu--lista{
  display: flex;
  flex-direction: row; 
  list-style-type: none; 
  gap: 20px;
  padding: auto;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-menu--elemento {
  background-color:#8531a7;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  transition: font-size 0.3s;
} 

.nav-menu--elemento{
  color: #270533;
  text-decoration: none;
  font-size: 16px; /* Tamaño normal de la letra */
  transition: font-size 0.3s; /* Suaviza la transición */
}

.nav-menu--elementohover {
  font-size: 18px; /* Tamaño de la letra al pasar el cursor */
}

.user-img--container{
 margin: 0px 10px;
}


/*--------------------------------- 
  fin barra de navegacion
------------------------------------*/

.scroll-section {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  position: relative;  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  padding: 0px;
}

.section1,
.section2,
.section3,
.section4{  
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.section1{
  background-image: url('/img/tokyo.png');
}

.section2 {
  background-image: url('/img/Tokyo2.png');
}

.section3{
  background-image: url('/img/Kyoto.png');
}
.section4{
  background-image: url('/img/Hiroshima.png');
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  /* margin: 20px; */
  height: auto;
  width: 30%;  
  padding: 20px;
  background-color: rgba(12, 12, 12, 0.8); /* Fondo semitransparente para mejorar la legibilidad */
  box-sizing: border-box;
}

.maps{
  margin: 20px;
  
}

/*--------------------------------- 
  Footer
------------------------------------*/

.footer-container {
  background-color: rgba(12, 12, 12) ;
  color: white;
  padding: 20px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 
  
} 

/* Enlaces del footer */
.social-icons--texto {
  color: #aaaaaa;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: #110312;
}

/* Redes sociales */
.social-icons{
  display: flex;
  margin: 10px;
  padding: 0px;
  gap: 15px;
  list-style-type: none;
  font-size: 24px;
}

/* Derechos de autor */
.copyright {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
}
